/*闁革负鍔庨崵搴ｆ喆閸℃侗鏆�*/
.bgroundCh {
  width: 700px;
}
.bgCh {
  width: 230px;
}
.bg-container-Ch {
  width: 240px;
}
.bg-span-Ch {
  width:160px;
}
.bg-span-two-Ch {
}


.support {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 236px;
}
.support>span {
  line-height: 28px;
}
.supportIcon {
  width: 101px;
  height: 28px;
}
.meeting {
  width: 70px;
  color: #3CB5DA;
}
.meeting>img {
  position: absolute;
}
.meeting>div{
  text-align: center;
}

/*閺夌儐鍠楅幐閬嶅炊閿燂拷*/
.index-image {
  position: relative;
}
.index-iamges-img {
  position: absolute;
  bottom: 23px;
  left: 43%;
}
.btn-iamges  {
  margin-right: 10px;
}
/*闁革附婢樺ù锟�*/
.map-icon {
  position: absolute;
  top:50%;
  left: 50%;
}
.map-container {
  position: relative;
}
.metting-content {
  width:922px;
  height:175px;
  background:rgba(254,254,254,1);
  line-height:175px;
  margin-top: 20px;
}
.meeting-span {
  padding-top: 30px;
  width:845px;
  height:105px;
  font-size:18px;
  font-family:PingFangTC-Medium,PingFangTC;
  font-weight:500;
  color:rgba(51,51,51,1);
  line-height:28px;
  margin: 0 auto;
}
/*闁哄倷鍗冲锟�*/
.news-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.new-row1 {
  padding: 0 11px;
  margin-bottom: 35px;
}
.news-first {
  text-align: center;
  margin-top: 32px;
}
.news-top-one {
  margin-top: 30px;
}
.meeting-span {
  padding-top: 30px;
  width:845px;
  height:105px;
  font-size:18px;
  font-family:PingFangTC-Medium,PingFangTC;
  font-weight:500;
  color:rgba(51,51,51,1);
  line-height:28px;
  margin: 0 auto;
}
.new-container-row {
  width:237px;
  height:300px;
  background:rgba(254,254,254,1);
  box-shadow:0px 1px 6px 0px rgba(0,0,0,0.2);
}
.news-container {
 /*  margin: 20px  15px  25px  15px; */
}
.news-head {
  text-align: center;
  height:25px;
  font-size:18px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(51,51,51,1);
  line-height:25px;
  margin-bottom: 14px;
}
.news-foot聽{
 text-align:聽justify;
 margin:聽0 10px;
 height:聽100px;
 font-size:聽14px;
 font-family:聽PingFangSC-Medium,PingFang SC;
 font-weight:聽500;
 color:聽rgba(102,102,102,1);
 line-height:聽25px;
 word-break:聽break-all;
}
.news-top {
  margin-top: 35px;
}
.news-first {
  text-align: center;
  margin-top: 32px;
}
.video-top {
  margin-top: 25px;
}
.map-content {
  margin-bottom: 20px;
}
/*闁革负鍔庨崵搴ｆ喆閸℃侗鏆�*/
.news-first {
  text-align: center;
  margin-top: 32px;
}
/*闁告瑥鐤囩粩锟�*/
.right {
    width: 248px;
    background: #fefefe;
    padding: 18px 17px;
    box-sizing: border-box;
    margin-left: 30px;
}
.meeting-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.meeting-info>img {
  width: 107px;
  height: 19px;
}
.title-border {
  align-items: center;
}
.info-content {
    background-repeat: no-repeat;
    background-position-x: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 214px;
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    flex-direction: column;
    box-sizing: border-box;
}
.right-title {
    font-size: 14px;
    font-family: PingFangTC-Semibold,PingFangTC;
    /* font-weight: 600; */
    color: rgba(51,51,51,1);
    line-height: 16px;
    padding-right: 10px;
    padding-left: 8px;
    padding-top: 8px;
}
.right-title-info {
    font-size: 14px;
    font-family: Roboto-Medium,Roboto;
    font-weight: 500;
    line-height: 16px;
    margin-top: 2px;
    padding: 6px 0;
    padding-left: 8px;
}
/* 濞村吋淇洪鍛村磹閹烘洦鍚�闁哄喛鎷� */
.count-down {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 214px;
    height: 100px;
    background: rgba(7,104,172,1);
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-top: 21px;
    /* padding: 27px 0 0 47px; */
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.count-down p {
  font-size:24px;
  font-family:PingFangTC-Semibold,PingFangTC;
  font-weight:600;
  color:rgba(254,254,254,1);
  line-height:48px;
}
.count-down-date {
  display: flex;
  align-items: center;
  margin-top: 7px;
}
.number {
  font-size:40px;
  font-family:Roboto-Bold,Roboto;
  font-weight:bold;
  color:rgba(254,254,254,1);
  line-height:47px;
  text-shadow:0px 2px 4px rgba(0,0,0,0.32);
  padding-right: 25px;
}
.fast-span {
  width:214px;
  height:44px;
  background: white;
  border-radius:5px;
  color: black;
  /* color: white; */
  line-height: 44px;
  margin-bottom: 15px;
  text-align: center;
  border: 2px solid rgba(51,51,51,1);
}
.fast-tspan {
  width:214px;
  height:44px;
  border-radius:5px;
  border:2px solid rgba(51,51,51,1);
  line-height: 44px;
  margin-bottom: 15px;
  text-align: center;
}
.row-hr {
  width:144px;
  height:3px;
  border-radius:5px;
}
.fast {
  margin-top: 13px;
}
.share-content {
  margin-top: 22px;
  margin-bottom: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.share-content-ch {
  width:51px;
  height:75px;
  background:rgba(254,254,254,1);
  box-shadow:0px 1px 6px 0px rgba(0,0,0,0.2);
  border-radius:5px;
  text-align: center;
}
.share-image {
  margin-bottom: 5px;
  margin-top: 10px;
}
.ma-span {
  width:89px;
  font-size:13px;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color:rgba(51,51,51,1);
}
.ma-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*閻熸瑥妫濋。锟�*/
.bground {
  background-image: url('/file/web/images/闁藉倹鐟ф晶锟�.png');
  height:513px;
  text-align:center;
  line-height: 513px;
  position: relative;
}
.video-span {
  position: absolute;
  left: 26px;
  width:340px;
  height:22px;
  font-size:16px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(255,255,255,1);
  line-height:22px;
  bottom: 18px;
}
.bg {
/*   background-image: url('/file/web/images/bg.png'); */
  height:513px;
  text-align:center;
  height:513px;
}
.vide-flex {
  display: flex;
}
.bg-container {
    background-image: url(/file/web/images/jiehe.png);
    position: relative;
    right: 11px;
    bottom: 7px;
    height: 526px!important;
    text-align: center;
    height: 513px;
    background-size: 100%;
    overflow-y: scroll;
}
.bg-left {
  width:26px;
  height:26px;
  line-height: 26px;
  background:rgba(31,104,172,1);
  border-radius:2px;
  border:1px solid rgba(255,255,255,1);
  color: white;
  margin-bottom: 35px;
}
.bg-center {
  display: flex;
}
.bg-img-span {
    position: relative;
    left: 29px;
    top: 88px;
    /* height: 250px; */
    width: 190px;
    overflow-y: scroll;
}
.bg-span {
  height:30px;
  font-size:12px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(255,255,255,1);
  line-height:15px;
  margin-left: 15px;
  overflow-wrap: break-word;
  text-align: justify;
}
.bg-span-two {
  width:160px;
  height:30px;
  font-size:12px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(255,255,255,1);
  line-height:15px;
  margin-left: 15px;
  text-align: justify;
}
.bg-left-two {
  width:26px;
  height:26px;
  background:rgba(0,0,0,0.7);
  opacity:0.5;
  line-height: 26px;
  border-radius:2px;
  border:1px solid rgba(255,255,255,1);
  color: white;
  margin-bottom: 54px;
}
/*濠㈣埖鎸抽崕锟�*/
body {
  background:rgba(245,245,245,1);
}
.header-content {
  position: fixed;
  left: 0;
  z-index: 1003;
  background: #fefefe;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
}
.head {
  width: 100%;
  height: 80px;
}

.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
  background-color: #1F68AC !important;
}
/*闁告劕鎳庨鎰啅閿曚胶鐝�*/
body {
  background:rgba(245,245,245,1);
}
.content {
  margin-top: 61px;
}
.content-wrap {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
}
.content-left {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 922px;
   /*  margin-top: 58px; */
}
.content-right {
  width:248px;
}
/*婵☆垼浜為崵锟�*/
.row-div {
  width:144px;height:3px;border-radius:5px;margin:0px auto;padding:0px;overflow:hidden;
  margin-bottom: 20px
}
/*闁哄倷鍗冲锟�*/
.new-top {
  margin-bottom: 10px
}
.news-con {
/*   margin-top: 33px; */
}
.content {
  margin-top: 61px;
}
.content-wrap {
  width: 1200px;
  margin: auto;
}
.video-content {
  /*width:922px;*/
  height: 510px;
}
/*闁革附婢樺ù锟�*/
#allmap{width:100%;height:500px;}
/*濠㈠爢鍌滅獥*/
.meeting-spans聽{
 padding:聽29px 35px 41px 42px;
 background:聽#fefefe;
 font-size:聽18px;
 font-family:聽PingFangTC-Medium, PingFangTC;
 font-weight:聽500;
 color:聽#333333;
 line-height:聽28px;
 width:聽880px;
 word-wrap:聽break-word;
 white-space:聽normal;
 word-break:聽break-all;
 overflow:聽hidden;
}
/* #test1 {
  z-index: -1 !important;
} */
.head-fixed {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
}
::-webkit-scrollbar {
  width: 2px;
  height: 9px !important;
}
/* 婵犲﹥鑹炬慨鈺呭级閿涘嫭鐣辨繝濠冨灥濞硷拷 */
::-webkit-scrollbar-thumb {
  background-color: #a1a3a9;
  border-radius: 5px;
  height:1px;
}
.station-flexs {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  margin-top: 30px;
}
.new-img {
 /*  width: 285px;
  height: 160px; */
}
.layui-carousel {
    position: relative;
    left: 0;
    top: 0;
    background-color: #f8f8f8;
   /*  z-index: -1 !important; */
}
.layui-layout-body {
    overflow: scroll;
    display: flex;
    flex-direction: column;
}
img {
    border: none;
}
.layui-title聽{
 width:聽280px;
 align-items:聽center;
 /* display:聽flex; */
 /* justify-content:聽center; */
 margin:聽10px 0;
}

 #icon-down {
  line-height: 60px;
}
#icon-up {
  line-height: 60px;
  display: none;
}
.layui-nav li {
 /*  width: 96px  !important; */
}
/*閼辨梻閮撮幋鎴滄粦**/
.contact-title {
 /*  height:22px; */
  font-size:16px;
  font-family:PingFangTC-Medium,PingFangTC;
  font-weight:500;
  color:rgba(51,51,51,1);
  line-height:22px;
 }
 .contact-span {
  width:160px;
/* height:22px; */
font-size:16px;
font-family:PingFangTC-Semibold,PingFangTC;
font-weight:600;
color:rgba(102,102,102,1);
/* line-height:22px; */
 }
 .contact-center {
    /* height: 242px; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: column;
    max-width: 20px 0;
 }
 .contact-row {
   margin-bottom: 20px;
 }
 .contact-page {
   margin-top: 20px;
 }
.layui-title  a{
   color: white;
}
.contact-span-img img {
  width:100%
}
.layui-nav img {
   /*  width: 105px; */
    height:60px;
    margin:10px;
    object-fit: cover;
}
.layui-title {
  padding-top:20px;
}

 .date-circle {
  width:5px;
  height:5px;
  border:1px solid rgba(7,104,172,1);
  border-radius: 5px;
 }
 .meeting-dates-flex {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
 }
 .date-circle-flex{
    height: 38px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
 }
 .right-title-flex {
  height: 50px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 .right-title-span{
    font-size: 14px;
    font-family: PingFangTC-Semibold,PingFangTC;
    /* font-weight: 600; */
    color: rgba(51,51,51,1);
    line-height: 16px;
    /* padding-right: 10px; */
 }
 .right-title-info {
  font-size: 14px;
  font-family: Roboto-Medium,Roboto;
  font-weight: 500;
  line-height: 16px;
  margin-top: 10px; 
   padding: 6px 0; 
}
.verticalline {
  width: 1px;
    height: 25px;
    border-left: dashed rgba(7,104,172,1) 1px;
}
.date-span-title {
font-size:16px;
font-family:PingFangSC-Semibold,PingFang SC;
font-weight:600;
color:rgba(51,51,51,1);
line-height:22px;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;  
margin-left: 5px;
}
.calendar-img {
  margin-left: -5px;
}

.meeting-title-flex {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.meeting-dates {
  /* margin-bottom:21px; */
  padding-left:25px;
}
 .meeting-dates:last-child
{
  margin-bottom: 13px!important;
}


 .meeting-dates-flex:last-child
{
  margin-bottom: 13px!important;
}

 .meeting-dates-flex
{
  margin-bottom: 25px
}
 .news-more {
    text-align: right;
  }
  .arrow {
    margin-right: 20px;
    margin-left: 5px;
  }
  .more-span {
    width:49px;
    height:17px;
    font-size:12px;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    color:rgba(80,91,101,1);
    line-height:17px;
  }
   .new-top-title{
  text-align:center; 
  }
  .flex-img {
     flex: 0 0 120px;
   }
   .flex-span {
     flex: 0 0 300px;
   }
   #layui {
      flex: 1;
   }
   .flex-icon {
     flex: 0 0 50px;
   }
   .photo-content {
     flex:1;
	}
.head-img {
    margin:0 8px;
}
.rotation_chart{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
table td, table th {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 3px 5px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
table td img {
   max-width:100%;
   /* max-height:100%;
   object-fit:contain; */
}
img {
    border:none;
    max-width:100%;
}